@import url('midiaQuerys.css');

/* Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Colors Web */
:root {
    --color-white: #FFFFFF;
    --color-black-1: #7C7C7C;
    --color-black-2: rgba(0, 0, 0, 0.3);
    --color-blue: #4D3EFC;
    --color-blue-1: #556EF4;
    --color-blue-2: #2FB0DB;
    --color-red: #FF7B7B;
    --color-red-1: #D1B4FB;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p, a{
    font-size: 25px;
}
a{
    font-weight: 600;
}

html, body{
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 14.59%;

    box-shadow: 2px 2px 2px var(--color-black-1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}
header .header-logo,
header .header-perfil{
    position: absolute;
}

header .header-logo{
    left: 103px;
}

header .header-perfil{
    color: var(--color-black-1);
    right: 103px;
    
    display: flex;
    align-items: center;
    gap: 20px;
}

section{
    width: 100%;
    height: 85.41%;

    position: relative;
    display: flex;
}

section aside.aside-menu{
    width: 19.78%;
    height: 100%;

    box-shadow: 2px 2px 2px var(--color-black-1);
}

section aside.aside-menu .aside-menu-options{
    width: 100%;
    height: 726.98px;
    background-color: var(--color-blue);

    
}
section aside.aside-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 400px;
    
}
section aside.aside-menu ul li{
    width: 100%;
    height: 100%;

    list-style: none;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;
}
section aside.aside-menu ul li:hover {
    background-color: var(--color-blue-1);
}
section aside.aside-menu ul li img,
section aside.aside-menu ul li a
{
    position: relative;
    left: 7.02%;
}
section aside.aside-menu ul li a{
    text-decoration: none;
    color: var(--color-white);
}

section aside.aside-menu .developer{
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-black-1);
}
section aside.aside-menu .developer h2{
    font-weight: 300;
    font-size: 25px;
}

section main{
    width: 80.22%;
    height: 100%;

    position: relative;
}

section main .main-content{
    width: 91.59%;
    height: 90%;

    position: absolute;
    top: 25px;
    left: 25px;
}

section main .main-content .DashBoard{
    width: 100%;
    height: 200px;

    border-radius: 1.2rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    
    display: flex;
    align-items: center;
    gap: 30px;
}


section main .main-content .DashBoard img{
    width: 68.72px;
    height: 100px;

    margin-left: 40px;
}

section main .main-content .Info-Deshboard{
    width: 100%;
    height: 238px;
    
    margin: 30px 0px 50px 0px;
    
    display: flex;
    gap: 10px;
}

section main .main-content .Info-Deshboard .Date-Dashboard{

    border-radius: 1.2rem;
    background-color: var(--color-red-1);
}

section main .main-content .Info-Deshboard .Details-Dashboard{
    border-radius: 1.2rem;
    background-color: var(--color-blue-2);
} 
section main .main-content .Info-Deshboard .PL-Dashborad{
    border-radius: 1.2rem;
    background-color: var(--color-red);
}
section main .main-content .Info-Deshboard .Option-Dashboard{
    width: 32.61%;
    height: 100%;
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;

    position: relative;
}

section main .main-content .Info-Deshboard .Option-Dashboard
h2, p{
    position: relative;
    right: 20px;
}

section main .main-content .Historic-Dashboard{
    width: 100%;
    height: 200px;

    border-radius: 1.2rem;
    background-color: var(--color-blue);
    color: var(--color-white);

    display: flex;
    align-items: center;
    gap: 30px;
}

section main .main-content .Historic-Dashboard img{
    width: 68.72px;
    height: 100px;

    margin-left: 40px;
}

section footer{
    width: 100%;
    height: 40px;
    
    position: absolute;
    top: 100%;
    transform: translateY(-100%);

    background-color: var(--color-black-1);
    color: var(--color-white);
}   

section footer p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav.navigation{
    display: none;
}