/* Font-Family */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Colors Web */
:root {
    --color-white: #FFFFFF;
    --color-black-1: #7C7C7C;
    --color-black-2: rgba(0, 0, 0, 0.3);
    --color-blue: #4D3EFC;
    --color-blue-1: #556EF4;
    --color-blue-2: #2FB0DB;
    --color-red: #FF7B7B;
    --color-red-1: #D1B4FB;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Dosis", sans-serif;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p, a{
    font-size: 25px;
}
a{
    font-weight: 600;
}
@media screen and (max-width: 1435px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    p, a{
        font-size: 25px;
    }
    a{
        font-weight: 400;
    }
}
@media screen and (max-width: 1058px) {
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
    p, a{
        font-size: 20px;
    }
    a{
        font-weight: 400;
    }
}
@media screen and (max-width: 650px) {
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
    p, a{
        font-size: 20px;
    }
    a{
        font-weight: 400;
    }
}


html, body{
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 14.59%;

    box-shadow: 2px 2px 2px var(--color-black-1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}
header .header-logo,
header .header-perfil{
    position: absolute;
}

header .header-logo{
    left: 103px;
}

header .header-perfil{
    color: var(--color-black-1);
    right: 103px;
    
    display: flex;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 1058px) {
    header .header-logo{
        left: 35px;

        width: 50px;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .header-logo img{
        width: 100%;
        height: 100%;
    }
    header .header-perfil{
        right: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header .header-perfil p,
    header .header-perfil img
    {
        display: none;
    }
    header .headerNav-Bars{
        width: 50px;
        height: 50px;

        position: absolute;
        right: 30px;
    }
    header .headerNav-Bars button{
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-black-1);
        border: none;
        border-radius: 1.3rem;

        cursor: pointer;
    }
    header .headerNav-Bars button img{
        width: 40px;
        height: 40px;
    }

}

section{
    width: 100%;
    height: 85.41%;

    position: relative;
    display: flex;
}

section aside.aside-menu{
    width: 19.78%;
    height: 100%;

    box-shadow: 2px 2px 2px var(--color-black-1);
}

@media screen and (max-width: 1435px) {
    section aside.aside-menu{
        display: none;
    }
}

section aside.aside-menu .aside-menu-options{
    width: 100%;
    height: 726.98px;
    background-color: var(--color-blue);

    
}
section aside.aside-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 400px;
    
}
section aside.aside-menu ul li{
    width: 100%;
    height: 100%;

    list-style: none;
    letter-spacing: 1px;

    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;
}
section aside.aside-menu ul li:hover {
    background-color: var(--color-blue-1);
}
section aside.aside-menu ul li img,
section aside.aside-menu ul li a
{
    position: relative;
    left: 7.02%;
}
section aside.aside-menu ul li a{
    text-decoration: none;
    color: var(--color-white);
}

section aside.aside-menu .developer{
    width: 100%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-black-1);
}
section aside.aside-menu .developer h2{
    font-weight: 300;
    font-size: 25px;
}

section main{
    width: 80.22%;
    height: 100%;

    position: relative;
}
@media screen and (max-width: 1435px) {
    section main{
        width: 90%;
        height: 80%;

        left: 50%;
        transform: translateX(-50%);
    }
}


section main .main-content{
    width: 91.59%;
    height: 90%;

    position: absolute;
    top: 25px;
    left: 25px;
}
@media screen and (max-width: 1058px) {
    section main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    section main .main-content{
        width: 100%;
        height: 80%;

        top: 50%;
        left: 0;
        transform: translateY(-50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
section main .main-content .DashBoard{
    width: 100%;
    height: 200px;

    border-radius: 1.2rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    
    display: flex;
    align-items: center;
    gap: 30px;
}
@media screen and (max-width: 1058px) {
    section main .main-content .DashBoard{
        height: 100px;
    }
}

section main .main-content .DashBoard img{
    width: 68.72px;
    height: 100px;

    margin-left: 40px;
}

section main .main-content .Info-Deshboard{
    width: 100%;
    height: 238px;
    
    margin: 30px 0px 50px 0px;
    
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 1058px) {
    section main .main-content .Info-Deshboard{
        height: 300px;

        display: flex;
        flex-direction: column;

        margin: 10px 0px 20px 0px;
    }
}

section main .main-content .Info-Deshboard .Date-Dashboard{

    border-radius: 1.2rem;
    background-color: var(--color-red-1);
}

section main .main-content .Info-Deshboard .Details-Dashboard{
    border-radius: 1.2rem;
    background-color: var(--color-blue-2);
} 
section main .main-content .Info-Deshboard .PL-Dashborad{
    border-radius: 1.2rem;
    background-color: var(--color-red);
}
section main .main-content .Info-Deshboard .Option-Dashboard{
    width: 32.61%;
    height: 100%;
    color: var(--color-white);

    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;

    position: relative;
}
@media screen and (max-width: 1058px) {
    section main .main-content .Info-Deshboard .Option-Dashboard{
        width: 100%;

        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

section main .main-content .Info-Deshboard .Option-Dashboard
h2, p{
    position: relative;
    right: 20px;
}

section main .main-content .Historic-Dashboard{
    width: 100%;
    height: 200px;

    border-radius: 1.2rem;
    background-color: var(--color-blue);
    color: var(--color-white);

    display: flex;
    align-items: center;
    gap: 30px;
}
@media screen and (max-width: 1058px) {
    section main .main-content .Historic-Dashboard{
        height: 100px;
    }
}

section main .main-content .Historic-Dashboard img{
    width: 68.72px;
    height: 100px;

    margin-left: 40px;
}

@media screen and (max-width: 1058px) {
    section main .main-content .DashBoard img,
    section main .main-content .Historic-Dashboard img{
        width: 68.72px;
        height: 50px;

        margin-left: 20px ;
    }
}
@media screen and (max-width: 650px) {
    section main .main-content .DashBoard img,
    section main .main-content .Historic-Dashboard img{
        width: 48.72px;
        height: 40px;

        margin-left: 20px ;
    }
}

section footer{
    width: 100%;
    height: 40px;
    
    position: absolute;
    top: 100%;
    transform: translateY(-100%);

    background-color: var(--color-black-1);
    color: var(--color-white);
}   

section footer p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1439px) {
    footer{
        display: none;
    }
}
nav.navigation{
    display: none;
}
@media screen and (max-width: 1058px) {
    nav.navigation{
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        
        z-index: 10;
        overflow: hidden;
        
        animation: animationAside 1s linear;
    }
    nav.navigation.ativo{
        display: flex;
    }
    nav .aside-menu-mobile{
        width: 100%;
        height: 100%;

    }
    @keyframes animationAside {
        0% {
            clip-path: circle(0.4% at 100% 0);
        } 25% {
            clip-path: circle(50.0% at 100% 0);
        } 50% {
            clip-path: circle(102.1% at 100% 0);
        } 100% {
            clip-path: circle(141.4% at 100% 0);
        }
    }
    .aside-menu-mobile .btnSet{
        width: 50px;
        height: 50px;
    
        position: absolute;
        right: 30px;
        top: 50px;
    }
    .aside-menu-mobile .btnSet button{
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--color-black-1);

        border: none;
        border-radius: 1.3rem;
        cursor: pointer;
    }
    .aside-menu-mobile .btnSet button img {
        width: 50px;
        height: 50px;
    }

    nav .aside-menu-options-mobile{
        width: 100%;
        height: 100%;

        background-color: var(--color-blue-2);

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav .aside-menu-options-mobile ul {
        width: 100%;
        height: 300px;
    }
    nav .aside-menu-options-mobile ul li{
        width: 100%;
        height: 60px;

        letter-spacing: 1px;

        position: relative;

        display: flex;
        align-items: center;

    }
    nav .aside-menu-options-mobile ul li a{
        position: absolute;
        left: 50px;

        font-size: 25px;
        text-decoration: none;

        font-weight: 500;
        color: white;
    }

}